#body{min-height:395px; margin:80 0 0px; position:relative;}

/*untuk penampilan tabel data*/
.table-data tr td{padding:0 11px;}
.scroll {border: 1px solid #777777; height:auto; max-height: 200px; overflow: scroll; width: 792px; margin:0 auto;}
/*untuk penampilan tabel data - end*/


/*untuk penampilan form*/
.wrapper-form{width : 400px; min-height:200px; margin:0 auto 14px;}
.table-form tr td{padding:5 8px; width:auto;}
/*untuk penampilan form - end*/
