/*======================== GENERAL ===================== */
#body{ margin:80 0 0px; text-align:center; display:inline-block;width:100%;}
table{display:inline-block;}
table td{padding:5 8px;}
.clear{clear:both;}
/*======================== BERANDA===================== */
.welcome-message{display:inline-block; font-size:15px;}
.welcome-message h2{font-size:30px; font-weight:bold; text-transform:uppercase; margin:0; color:#3a0700; letter-spacing:4px; margin-bottom:20px;}
.welcome-message .profpic{margin-top:30px; width:174px; height:208px; display:inlin-block; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

/*untuk penampilan tabel data*/
.table-data tr td{padding:0 11px;}
.scroll {border: 1px solid #777777; height:auto; max-height: 200px; overflow: scroll; width: 792px; margin:0 auto;}
.scroll td, .scroll th{border:1px solid #000; padding:2px;}

/*untuk penampilan tabel data - end*/


/*untuk penampilan form*/
.wrapper-form{ margin:0 auto 14px; text-align:center;}
.table-form{display:inline-block;}
.table-form tr td{padding:5 8px; width:113px; }
.table-form tr td:nth-child(2n){width:200px;}
.table-form input[type="text"], .table-form  input[type="password"]{border-radius:5px; background-color:#bdc4cb; width:200px;;}
select{border-radius:5px; background-color:#bdc4cb; display:inline-block; }
.pesanan-pelanggan select{margin-left:0;}
/*untuk penampilan form - end*/

/*======================== TABLE DALAM SCROLL ===================== */

table.table-data tr:first-child{background-color:#515d91;}